@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Richmond, KY 40475<br />
    <abbr title="Phone">Phone:</abbr>
    859-582-1638
</address>

<address>
    <strong>Email</strong>   <a href="mailto:ceaves@richmond.ky.gov">ceaves@richmond.ky.gov</a><br />
</address>