@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cathy's Cake Creations</h1>
    <p class="lead">Cool Stuff about Cathy's Cake Creations</p>
    <p><a href=#" class="btn btn-primary btn-lg">Order Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Learn More</h2>
        <p>
            Bla bla bla
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>More Information</h2>
        <p>Learn even more</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>